@media (max-width: 767px) {
    header {
        font-size: 0.9rem !important;
    }

    .sidebar {
        width: 40vw !important;
    }

    .sidebar.collapsed {
        width: 10vw !important;
    }

    .mapa_interfaz {
        margin-left: 40vw !important;
        width: calc(100vw - 40vw) !important;
    }

    .sidebar.collapsed + .mapa_interfaz {
        margin-left: 10vw !important;
        width: calc(100vw - 10vw) !important;
    }

    main .sidebar.collapsed ~ .mapa_interfaz {
        margin-left: 10vw !important;
        width: calc(100vw - 10vw) !important;
    }

    header img {
        height: 20% !important;
        width: auto !important;
    }

    #graficas_entorno_superior {
        display: flex;
       flex-direction: column;
       justify-content: space-around;
       /* separación uniforme */
       align-items: center;
    }

    .flip-container {
        width: 100% !important;
        height: 30% !important;
    }

    .front, .back {
        font-size: 0.9rem !important;
    }



    /* Para el popup */

    .contenedor_popup {
        width: 260px; 
        aspect-ratio: 100 / 66;
    }

  .texto_popup_titulo {
       font-family: 'Arial', sans-serif;
       font-size: 9px;
       font-weight: bold;
       color: black;
   }

   .texto_popup_anio {
       font-family: 'Arial', sans-serif;
       font-size: 7px;
       font-weight: bold;
       color: rgb(141, 42, 60);
   }

   .texto_popup {
       font-family: 'Arial', sans-serif;
       font-size: 6.5px;
   }

   .resaltado {
       font-weight: bold;
       color: rgb(141, 42, 60);
   }

    .boton_ficha {
        background-color: transparent;
        color: transparent;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 6px 4px;
        cursor: pointer;    
   }

   .boton_ficha:hover {
       color: transparent;
       font-weight: bold;
   }

   .leaflet-popup-content-wrapper,
   .leaflet-popup-tip {
       width: 300px; 
       aspect-ratio: 100 / 66;
       background: transparent;
   }


}